@model UserCreateViewModel
<div class="row col-sm-6">
    <div class="col-sm-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title"> Create user</h4>
                <form class="forms-sample" method="post" asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Firstname">Firstname</label>
                        <input asp-for="Firstname" class="form-control" placeholder="Firstname">
                        <span asp-validation-for="Firstname" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Lastname">Lastname</label>
                        <input asp-for="Lastname" class="form-control" placeholder="Lastname">
                        <span asp-validation-for="Lastname" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="UserName">UserName</label>
                        <input asp-for="UserName" class="form-control" placeholder="UserName">
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email">Email</label>
                        <input asp-for="Email" class="form-control" placeholder="Email">
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password">Password</label>
                        <input asp-for="Password" class="form-control" placeholder="Password">
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group" id="parentDiv">
                        <label asp-for="RoleName">Roles</label>
                        <select asp-for="RoleName" asp-items="Model.Roles" class="form-control" placeholder="Parent kateqori secin"></select>
                        <span asp-validation-for="RoleName" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary mr-2">Submit</button>
                    <button class="btn btn-light" asp-action="Index">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>
